services:
  barrythrew-com-nginx:
    image: linuxserver/swag
    container_name: barrythrew-com-nginx
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Los_Angeles
      - URL=barrythrew.com
      - SUBDOMAINS=www
      - VALIDATION=http
      - EMAIL=me@barrythrew.com
      - STAGING=false
      - CERTPROVIDER=zerossl
    volumes:
      - /home/barry/barrythrew.com/www/_site:/config/www
      - /home/barry/barrythrew.com/config:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped

  barrythrew-com-jekyll:
    image: jekyll/jekyll:latest
    container_name: barrythrew-com-jekyll
    command: jekyll build --watch
    volumes:
      - .:/srv/jekyll
    depends_on:
      - barrythrew-com-nginx