---
layout: default
section_id: portfolio
description: Barry Threw is a curator, technologist, designer, cultural producer & strategist  working across digital art, built environments, experiential and immersive media,  architectural projection mapping, and technology platforms.
thumbnail: profile.jpg
---

<div class='full' itemscope itemtype="http://schema.org/CollectionPage">
  <div class='row welcome'>
    <p>
    {% include_relative bio-blurb.html %}
    </p>

  </div>
  <div class='row'>
    <div class='modGallery masonry-container'>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2 seperated'>
        {% assign sorted = site.projects | sort: 'date' | reverse %}
        {% for project in sorted %}
          <li class='{{project.category}} grid-item'>
            <a href='{{project.url}}'>
              <img alt="{{project.title}} Thumbnail" src="assets/images/{{project.url}}{{project.thumbnail}}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{project.title}}</h3>
                  <p>{{ project.date | date: '%Y' }}</p>
                  <!--<p>{{project.description}}</p>-->
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    
    </div>
  </div>
  <div class='four spacing'></div>
</div>
