---
layout: default
section_id: portfolio
---

<div class='full'>
 
  {% assign videos = site.data.videos | where: "project", null %}

  {% if videos.size > 0 %}
    <div class='row'>
      <ul class='large-block-grid-2 medium-block-grid-2 small-block-grid-2 separated press-video-grid'>
            {% for video in videos %}
              {% include videoPlayer.html link=video.link %}
            {% endfor %}
        </ul>
        <div class='two spacing'></div>  
      </div>
    </div>
  {% endif %}

    <div class='row'>
      <ul class="press_list">
      {% assign press_items_sorted = site.data.press | sort: 'date' | reverse %}
      {% for item in press_items_sorted %}
        <li>
          <time>{{ item.date | date: "%B %d, %Y" }}</time>
          &nbsp;&mdash;&nbsp;
          <a href="{{ item.link }}">{{ item.title }}</a>
          &nbsp;&mdash;&nbsp;
          {{ item.source }}
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
