<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/foundation.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/fontello.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/user.css" | prepend: site.baseurl }}">

  <link rel="icon" type="image/png" href="{{ "/assets/img/avatar.png" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/libs.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
    // terrificjs bootstrap
    (function($) {
        $(document).ready(function() {
            var $page = $('body');
            var config = {
              dependencyPath: {
                plugin: 'javascripts/'
              }
            }
            var application = new Tc.Application($page, config);
            application.registerModules();
            application.start();
        });
    })(Tc.$);
  </script>

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

  <script src="{{ "/assets/js/masonry.pkgd.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/slick.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/assets/js/processing.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{{ site.url }}/assets/images{{ page.url }}{{ page.thumbnail }}">

  <!-- Facebook OG -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="{{ site.url }}/assets/images{{ page.url }}{{ page.thumbnail }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">

  <!-- Twitter cards -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="twitter:description" content="{{ page.description }}">
  <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta property="twitter:image" content="{{ site.url }}/assets/images{{ page.url }}{{ page.thumbnail }}">
  <meta property="twitter:image:alt" content="{{ page.title }}">

  <script type="application/ld+json"></script>
</head>
