<li class='grid-item'>
  <div itemprop="video" class="vidContainer">
    {% if include.link contains "vimeo" or include.link contains "youtube" %}
      <iframe 
        src="{{include.link}}"
        class="vidFrame"
        frameborder="0" 
        webkitallowfullscreen 
        mozallowfullscreen 
        allowfullscreen
        allow="encrypted-media">
      </iframe>
    {% else %}
       <video controls>
          <source src="{{include.link}}" type="video/mp4">
        </video> 
    {% endif %}
  </div>
</li>
