---
layout: default
section_id: portfolio
---
<div class='full' itemscope itemtype="http://schema.org/CreativeWork">
  <div class='row'>

    <div class='large-4 columns'>
      <h2 itemprop="name">{{page.title}}</h2>
      <p>
        <span itemprop="description">{{page.description}}</span>
      </p>
      <ul class='info'>
        <li>
          <strong>Dates:</strong>
          {{page.dates}}
        </li>
        <li>
          <strong>Location:</strong>
          {{page.location}}
        </li>
        <li>
          <strong>Role:</strong>
          {{page.role}}
        </li>
        {% if page.link %}
        <li>
          <strong>Link:</strong>
          <a href="{{page.link}}">{{page.linktext}}</a>
        </li>
        {% endif %}
        <li>
          <strong>Collaborators:</strong>
          <ul>
          {% for collaborator in page.collaborators %}
            <li>
              <span itemprop="contributor">{{collaborator}}</span>
            </li>
          {% endfor %}
          </ul>
        </li>
      </ul>
      <div class='two spacing'></div>
    </div>
    
    <div class='large-8 columns'>
      <div class='mod modBoxedSlider'>
        {% if page.herovimeoid %}
          <span itemprop="video">{% include vimeoPlayer.html id=page.herovimeoid %}</span>
        {% endif %}

        <div class='slides'>
          {% if page.images %}
            {% for image in page.images %}
              <div class="slide">
                <img itemprop="image" src="/assets/images{{page.url}}{{image}}" alt="{{page.title}} {{ forloop.index }}">
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    
  </div>

  <div class='row'>

    {% if page.videos %}
      <ul class='large-block-grid-2 medium-block-grid-2 small-block-grid-2 separated press-video-grid'>
            {% for video in page.videos %}
            <li class='grid-item'>
              <div itemprop="video" class="vidContainer">
                {% capture videoid %}{{ video }}{% endcapture %}
                {% include vimeoPlayer.html id=videoid %}
              </div>
            </li>
            {% endfor %}
      </ul>
      <div class='two spacing'></div>
    {% endif %}

    <hr />
    
    <div class='contentblock'>
      {{content}}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
